{% extends "base.html" %}
{% load bootstrap3 %}
{% load admin_urls %}
{% load mptt_tags %}
{% load items_tags %}
{% load markdown_deux_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <ol class="breadcrumb">
            {% if location.parent %}
                {% recursetree location.get_ancestors %}
                    <li><a href="{% url 'items:inventory_list' %}?location={{ node.pk }}">{{ node.name }}</a></li>
                    {% if not node.is_leaf_node %}
                        {{ children }}
                    {% endif %}
                {% endrecursetree %}
            {% endif %}
            <li class="active"> <a
                    href="{% url 'items:inventory_list' %}?location={{ location.pk }}">{{ location.name }}</a></li>
        </ol>
        <h1 id="location-description">{{ location.name }}
            {% if perms.items.change_location %}
                <a href="{% url 'admin:items_location_change' location.id %}" class="btn btn-primary" role="button">Edit</a>
            {% endif %}</h1>


{#        {% parse_rst inventory.description descheader %}#}
{#        {{ descheader }}#}
        {{ location.description|markdown }}
        <h2 id="location-photos">Photos</h2>
        <div class="row">
            {% for photo in location.locationphoto_set.all %}
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <a href="{{ photo.get_display_url }}" data-toggle="lightbox" data-gallery="inventory_photos"
                       data-parent data-title="{{ photo.title }}" data-footer="{{ photo.caption }}">
                        <img src="{{ photo.get_thumbnail_url }}" class="img-responsive">
                    </a>
                </div>
                {% if forloop.counter|divisibleby:"6" %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% if user.is_authenticated %}
            {% bootstrap_formset_errors formset %}
            <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="form-inline">{% csrf_token %}
                {% bootstrap_formset formset layout='inline' %}
                {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
            </form>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4">
        <h3>Within this location</h3>
        <ul class="root">
        {% recursetree location.get_descendants %}
        <li>
            <a href="{% url 'items:location_show' node.uuid %}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
        </ul>

        <div class="panel panel-default">
            <div class="panel-heading">Basic Information</div>
            <div class="panel-body">{{ location.description_short }}</div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Owner</td>
                        <td> <a href="{% url 'items:inventory_list' %}?person_name={{ location.owner.username|urlencode }}">{{ location.owner.username }}</a></td>
                    </tr>
                    <tr>
                        <td>Location Type</td>
                        <td>{{ location.get_loc_type_display }}</td>
                    </tr>
                    <tr>
                        <td>UUID</td>
                        <td>{{ location.uuid }}</td>
                    </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>

{% endblock %}

{% block bottom %}
<script type="text/javascript">
    $(document).ready(function ($) {
       $('span.label').tooltip()
    });
</script>
{% endblock %}